/* Copyright 2020 Erin Ptacek. All rights reserved. */
/* CSS reset ---------------------------------------------------------------- */
body, div, p, img,
form, input, button {
  padding: 0px;
  margin: 0px;
  font: inherit
}

body {
  margin: 5px;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #aaa;
  background: #3c4452;
}

#main {
  display: block;
  min-width: 400px;
}

button {
  padding: 12px;
  margin: 5px;
  color: #3c4452;
  background: #aaa;
}

button#deleteButton {
}

button#goButton 

table.messages-table {
  width: auto; 
  border-collapse: collapse;
  margin: 0 auto;
}

tr:hover {
    background: #59657a;
}

th {
  padding: 2px;
  margin: 2px;
  color: #dd9;
}

td {
    padding: 5px;
    margin: 5px;
    word-wrap:break-word;
}


